@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}

.logo {
    color: #FED136;
    font-family: 'Bilbo Swash Caps';
    font-style: normal;
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 51.39%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list {
    list-style: none;
    display: inline-block;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FED136;
}

.container {
    width: 66.64%;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

.title-services {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 92px;
}

.text-title-services {
    text-transform: uppercase;
    margin-bottom: 93px;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #FED136;
}